

html {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  header { color: #fff;
    /* display: flex;   */
  }
  h2 {
    font-size: 2rem;
    padding-top: 1.3rem;     
  }

.main {
    flex: 1;
}

.pad{
  padding-top: 3rem;
}


.bg-dark {
    background-color: #12002b;
  }

.sign-in-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
  }
  
  .sign-in-content {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem; 
    margin-bottom: 20rem;
    padding: 2rem;
  }
  
  .sign-in-icon {
    font-size: 5rem;
  }

  .input-remember {
    display: flex;
  }
  
  .input-remember label {
    margin-left: 0.25rem;
  }
  
  .input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
  }
  
  .input-wrapper label {
    font-weight: bold;
  }
  
  .input-wrapper input {
    display: flex;
    padding: 5px;
    font-size: 1.2rem;
  }

  .edit-button {
    background-color: #00bc77;
    border-color: #00bc77;
    color: #fff;
    font-weight: bold;
    margin-top: 1.5rem;
    padding: 0.625rem;
}

.error-message { color: red;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 25px;
}

.edit-input { 
  display: flex;
  align-items: center;                        
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  
}
.edit-input-input{
  display: flex;
  border-radius: 2px ;
  border-color: #807d7d; 
  height: 30px;
  padding-left: center;
  
}

.edit-input:disabled{
  background-color: #8d8a8a;
}

